<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New</h1>
    <form action="/food/new" method="post">
        <div>
            <label for="name">Name: </label>
            <input name="name" type="text" id="name" required>
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea name="description" id="description" required minlength="5"></textarea>
        </div>
        <div>
            <label for="countryOfOrigin">Country of Origin: </label>
            <input name="countryOfOrigin" type="text" id="countryOfOrigin">
        </div>
        <div>
            <label for="image">Image: </label>
            <input name="image" type="text" id="image">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>